<br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Order Details:</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
<mat-card-content>
  <h4><strong>Order ID:</strong> {{ orderId }}</h4>
  <h4><strong>Trade Date Time:</strong> {{ tradeDateTime | date:'d-M-y'}}</h4>
  <h4><strong>Stock Name:</strong> {{ stockName }}</h4>
  <h4><strong>Per Unit Price:</strong> {{ perUnitPrice }}</h4>
  <h4><strong>status:</strong> {{ status }}</h4>
</mat-card-content>

  </mat-card>


